numpy
pandas

scikit-learn # image classification

dlib-bin # face recognition
# face embeddings
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase # data base

bcrypt # hashing

segno # qr code generation

pillow # image processing

streamlit # deployment

librosa
webrtcvad-wheels==2.0.14
resemblyzer